.git
.github
.DS_Store

apps/web/node_modules
apps/web/.next
apps/web/out

ios/Build
ios/DerivedData
ios/*.xcresult
ios/*.ipa
ios/*.dSYM
ios/RoadSenseNS.xcodeproj/xcuserdata

supabase/.branches
supabase/.temp
supabase/.env

*.log
