APP_ENV = PRODUCTION
API_BASE_URL = https://roadsense.ca
MAPBOX_ACCESS_TOKEN = __MAPBOX_ACCESS_TOKEN__
SUPABASE_ANON_KEY = __SUPABASE_ANON_KEY__
SENTRY_DSN = __SENTRY_DSN__
APP_GROUP_IDENTIFIER = group.ca.roadsense.ios
