APP_ENV = STAGING
API_BASE_URL = https://api.nsroadsense.ca
MAPBOX_ACCESS_TOKEN = __MAPBOX_ACCESS_TOKEN__
SUPABASE_ANON_KEY = __SUPABASE_ANON_KEY__
SENTRY_DSN = __SENTRY_DSN__
ENABLE_SENTRY = NO
APP_GROUP_IDENTIFIER = group.ca.roadsense.ios.staging
ENABLE_POTHOLE_PHOTOS = NO
ENABLE_MAP_FOLLOW_PUCK_ON_LAUNCH = NO
